{{!-- <!-- search/index.hbs --> --}}
<div class="row pattern-rattleclaw" style="min-height:100vh">
<div class="container-fluid" style="min-height: 90vh">
    <div class="container">
        <div class="row">
            <h2 style="margin-top:100px">MTG Organize & Share</h2>
            <p class="section-description">
                Keep track of the cards you own, build and analyse decks, and share them with your friends.
            </p>
        </div>
        <div class="row" style="margin-bottom: 35px">
            <h3>Choose your Favourite Planeswalker:</h3>
            <article class="col-sm-6 col-md-3 box features-item thumbnail-100">
                <a href="/signup/liliana"><img class="features-img" src="img/defaultAvatarBlack.png"></a>
                <h3 style="margin-top:25px">Liliana</h3>
                <p class="features-p text-center" style="text-align:center">
                Cunning, and ambitious to a fault, Liliana has mastered the dark art of necromancy.
                </p>
            </article>
            <article class="col-sm-6 col-md-3 box features-item thumbnail-100">
                <a href="/signup/nissa"><img class="features-img" src="img/defaultAvatarGreen.png"></a>
                <h3 style="margin-top:25px">Nissa</h3>
                <p class="features-p"style="text-align:center">
                Driven, devoted, and deeply connected to the land, Nissa Revane wields elemental magic.
                </p>
            </article>
            <article class="col-sm-6 col-md-3 box thumbnail-100 features-item">
                <a href="/signup/jace"><img class="features-img" src="img/defaultAvatarBlue.png"></a>
                <h3 style="margin-top:25px">Jace</h3>
                <p class="features-p"style="text-align:center">
                Jace is a master of mental magic: spells of illusion, deception, and mind reading. 
                </p>
            </article>
            <article class="col-sm-6 col-md-3 box thumbnail-100 features-item">
                <a href="/signup/chandra"><img class="features-img" src="img/defaultAvatarRed.png"></a>
                <h3 style="margin-top:25px">Chandra</h3>
                <p class="features-p"style="text-align:center">
                She's specialist in pyromancy: spells of fire, fire, and more fire.
                </p>
            </article>
        </div>
    </div>
</div>








