<!-- search/index.hbs -->
<div class="row pattern-evil avoidSticked" style="min-height:100vh">
<div class="container-fluid" style="min-height: 85vh">
    <div class="row">
        <div class="col-xs-12">
            <h2></h2>
        </div>
    </div>
</div>



